@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f9fafb; /* Tailwind gray-50 */
}
.dark body {
  background-color: #202123; /* Custom dark background */
}

